.loginForm {
  z-index: 10;

  text-align: left;

  background: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 2px;
  padding: 35px 55px 35px;
  width: 500px;
  display: inline-block;
  vertical-align: middle;
  position: relative;

}
.icon {
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}
.field {
  width: 80%;
}
.textCentered {
  text-align: center;
}
.loginButton {
  position: absolute !important;
  top: 50%;
  margin-top: -25px;
  right: -25px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  transition: all !important;
  transition-duration: 500ms !important;
}
.loginButton:hover {
  box-shadow: none;
  transform: rotate(360deg);
}
