html, body, :global(#root) {
  overflow: hidden;
  min-height: 100vh;
  height: 100%;
}
.loginContent {
  min-height: 100vh;
  text-align: center;
  height: 100%;
  overflow: hidden;
}
.loginContent:before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 1px;
  height: 100%;
}
.loginContent:after {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00bcd4;
  content: "";
  z-index: 0;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.otro {
  color: red;
}
